<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Últimos Planes</h1>
    <ul>
        <li th:each="plan : ${latestPlans}">
            <h2 th:text="${plan.titulo}"></h2>
            <p th:text="${plan.descripcion}"></p>
            <p>Fecha: <span th:text="${plan.fecha}"></span></p>
            <p>Lugar: <span th:text="${plan.lugar}"></span></p>
        </li>
    </ul>
    <div>
        <a href="/register">Registrarse</a>
        <a href="/login">Iniciar Sesión</a>
    </div>
</body>
</html>